<a href="https://colab.research.google.com/github/gagan3754/elevate-proj2/blob/main/elevate_proj_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load dataset (change file name accordingly)
df = pd.read_csv("/content/Housing.csv")
# df = pd.read_csv("medical_appointments.csv")

# Check missing values
missing_values = df.isnull().sum()
print(missing_values)

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [9]:
missing_values = missing_values[missing_values > 0]
import matplotlib.pyplot as plt

if not missing_values.empty:
    missing_values.plot(kind='bar')
    plt.title("Missing Values per Column")
    plt.ylabel("Count of Missing Values")
    plt.xlabel("Columns")
    plt.show()
else:
    print("✅ No missing values found — nothing to plot.")

✅ No missing values found — nothing to plot.

In [3]:
# Identify numerical columns
num_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Apply median imputation (preferred for skewed data)
for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)

/tmp/ipython-input-4274130200.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

In [4]:
# Identify categorical columns
cat_cols = df.select_dtypes(include=['object']).columns

# Apply mode imputation
for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

/tmp/ipython-input-2342487943.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [5]:
threshold = 0.4 * len(df)

cols_to_drop = df.columns[df.isnull().sum() > threshold]
print("Dropped columns:", cols_to_drop)

df.drop(columns=cols_to_drop, inplace=True)

Dropped columns: Index([], dtype='object')

In [6]:
# Check remaining missing values
print(df.isnull().sum())

# Dataset info
df.info()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [8]:
df_original = pd.read_csv("/content/Housing.csv")

print("Before Cleaning:")
print("Shape:", df_original.shape)
print("Total Missing Values:", df_original.isnull().sum().sum())

print("\nAfter Cleaning:")
print("Shape:", df.shape)
print("Total Missing Values:", df.isnull().sum().sum())

Before Cleaning:
Shape: (545, 13)
Total Missing Values: 0

After Cleaning:
Shape: (545, 13)
Total Missing Values: 0